*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    height: 150px;
    background-color: #ADB2D4;
}

.conteudo{
    min-height: calc(100vh - 150px - 200px);
    background-color: #C7D9DD;
}

    .conteudo .menu{
    position: relative;
    float: left;
    width: 25%;
    min-height: calc(100vh - 200px - 150px);
    background-color: #ADB2D4;
   }

   .conteudo .artigo{
    position: relative;
    float: left;
    width: 75%;
   }


.rodape{
    height: 200px;
    background-color: #EEF1DA;
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    border: solid 1px;
    overflow: hidden;
}

.botao-topo{
    width: 50px;
    height: 50px; 
    background-color: aliceblue;
    border-radius: 50%;
    text-align: center;

    position: fixed;
    right: 20px;
    bottom: 20px;

}
