
*{
    margin: 0;
    padding: 0; 
    box-sizing: content-box;
}

.caixa{

    height: 200px;
    width: 50%;
    background-color: yellow;

    float: left;
}

.caixa2{

    height: 200px;
    width: 50%;
    background-color: pink;
    float: left;
    position: relative;

}

.caixa3{

    height: 100px;
    width: 100px;
    background-color: green;
    float: left;
    position: absolute
}
